<!DOCTYPE html>
<html ng-app="ingredientsApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ingredients</title>
    <script src="./bower_components/angularjs/angular.min.js"></script>
    <script>
        var app = angular.module('ingredientsApp',[]);
        var url = "http://localhost:8080/ingredients";
//        var url = "http://localhost:8080/ingredients";
        app.controller('ingredientsCtrl', ['$scope','$http', function(scope,http){

            scope.input="";
            scope.ingredients={};

            scope.removeItem = function(id){
                confirm(id);
                if(confirm("请确认删除食材 "+scope.ingredients[id].name)){
                    http({
                        method: 'POST',
                        url: url,
                        data: {action:"remove",id:id}
                    }).success(function(){
                        delete scope.ingredients[id];
                    });
                }
            };

            scope.addItem=function(){
                http({
                    method: 'POST',
                    url: url,
                    data: {action:"add",name:scope.input}
                }).success(function(data){
                    scope.input="";
                        scope.ingredients[data._id] = {name:data.name};
                });
            }

            function init(){
                http({
                    method: 'GET',
                    url: url+"/list",
                    cache: true
                }).success(function(data){
                    for (i in data) {
                        scope.ingredients[data[i]._id] = {name:data[i].name};
                    }
                });
            }
            init();
        }]);

        app.filter('filterForHash',function(){
            return function(items,searchText){
                if(items === undefined||items.length===0){return;}
                if(searchText===undefined)searchText = "";
                var filtered={};
                angular.forEach(items, function(item,key) {
                    if(item.name.indexOf(searchText)!==-1) filtered[key] = item;
                });
                return filtered;
            }
        });

    </script>
</head>
<body  ng-Controller="ingredientsCtrl">
<label>食材：</label><input id="input" ng-model="input"/><button ng-click="addItem()" type="button">添加</button><br>

<label>查找：</label><input id="search" ng-model="search"/><br>
<ul>
    <li ng-repeat="(id,item)  in ingredients | filterForHash:search">{{item.name}}
        <button type="button" ng-click="removeItem(id)">删</button>
    </li>
</ul>
</body>
</html>